// BREAK POINT
// 640px 768px 1024px 1280px 1536px

.t-center {
    text-align: center;
}

body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
}

main.words,
.pratica,
footer,
nav section {
    max-width: 700px;
    margin: 0 auto;

    @media screen and (max-width: 750px) {
        padding: 0 1em;
    }
}

footer {
    background-color: #eee;
    padding: 1.5em 1em;
}

.docs nav {
    padding: 15px 0 1em 0; // reduced paddign for only testual page.

    @media screen and (min-width: 640px) {
        padding: 30px 0 1em 0; // reduced paddign for only testual page.
    }
    

    section .logo {
        margin-bottom: 1em;
    }
}

.home-view-real nav {
    padding: 0 !important;
}

nav {
    background-image: linear-gradient(to right top, #0b36d3 45%, #65FBD2);
    color: #fff;
    width: 100%;
    padding: 15px 0 56px 0;

    @media screen and (min-width: 640px) {
        padding: 30px 0 56px 0;
    }

    section {

        &.homepage {
            display: flex;
            flex-flow: column;
            min-height: 38vh;
            padding: 15px 1em 50px 1em;

            @media screen and (min-width: 640px) {
                padding: 30px 1em 56px 1em;
            }
        }

        h1,
        h2,
        h3,
        p {
            color: #fff;
            font-family: 'Source Sans Pro';
            font-weight: 900;
            margin-bottom: 0;
            margin-top: 0;
        }

        h1 {
            margin-top: 1em;
            font-size: 2em;
            margin-top: auto;
            line-height: .95;

            @media screen and (min-width: 640px) {
                font-size: 2.4em;
            }
        }

        h3 {
            font-size: 1.1em;
            margin-bottom: 1em;
            line-height: 1;

            &.subtitle {
                opacity: .82;
            }

            // &.last {
                
            // }

            @media screen and (min-width: 640px) {
                font-size: 1.5em;

                &.subtitle {
                    padding-right: 30%;
                }
            }
        }

        p {
            line-height: 1;
            font-size: 1em;
            font-weight: 400;
            margin-top: .4em;

            @media screen and (min-width: 640px){
                font-size: 1.2em;
            }
        }

        a {
            text-decoration: underline;
        }

        p,
        a {
            color: #ccc;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1.5em;

    .header-menu {
        // icona donazioni e menu
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;

        .menu-item {
            margin-right: 0.35em;
            background-color: rgba(0, 0, 0, 0.1);
            padding: 0.55em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;

            a {
                color: #fff;
                text-decoration: none;
                font-size: .8em;
            }

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, .2);
            }
        }

        .donation {
            margin-right: .3em;

            svg {
                width: 14px; height: 14px;

                @media screen and (min-width: 700px) { // 500
                    width: 22px; height: 22px;
                }
            }
        }

        .question {
            padding: .105em !important;

            svg {
                width: 31px; height: 31px;

                @media screen and (min-width: 700px) { // 500
                    width: 40px; height: 40px;
                }
            }
        }

        .donation,
        .menu-items {
            margin-right: .35em;
            background-color: rgba(0, 0, 0, .1);
            padding: .55em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            transition: .3 all;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, .2);
            }

            span {
                margin-left: .5em;
                font-weight: 100;
                font-size: .8em;
                text-transform: uppercase;
            }
        }
    }

    @media screen and (max-width: 429px) {
        // spacco il menu in mobile
        flex-flow: column;
        justify-content: center;

        .header-menu {
            margin: .5em 0 0 0;
        }
    }
}

.logo-wrapper {
    display: inline-flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    padding: 0.3em .6em;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s all;

    .img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 42px;
            height: 42px;
        }
    }

    @media screen and (min-width: 640px) {
        padding: 0.5em 16px;

        .img {    
            svg {
                width: 38px;
                height: 38px;
            }
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, .29);
    }

    &:active {
        background-color: rgba(0, 0, 0, .45);
    }

    .title { 
        margin-left: .5em;
        text-transform: uppercase;
    }
}

p {
    margin: 1em 0;
}

main {
    i.highlight {
        background-color: #C8E6C9;
        padding: 2px 8px;
        border-radius: 6px;
    }

    .info-section {
        padding-top: 2em;
        h3 {
            margin: 0;
            text-transform: uppercase;
            font-size: .9em;
            color: #555;
            font-weight: 700;
            background-color: #eee;
            display: inline-block;
            padding: .2em .6em;
            border-radius: .36em;
        }

        p:first-of-type {
            margin-top: .5em;
        }
    }
}

button.danger {
    background-color: #fd7775;

    &:hover {
        background-color: #EF5350;
    }
}

main.words {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: -2em; // so cool bro, if my friends just seed this... they fall in love

    .word {
        width: 48%;
        height: 220px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
        border-radius: 6px;
        transition: .14s all;
        margin-bottom: 2em;
        position: relative;

        order: 0; // needed for order "starred" flex items

        &.goFullScreen {
            position: fixed;
            top: 2vh;
            left: 2vw;
            height: 96vh;
            width: 95vw;
            z-index: 100;

            .main-word {
                font-size: 8vw; // make font size dynamic
            }
        }

        .main-word {
            // avoid anoing selection on mobile device
            -webkit-user-select: none;
            /* Chrome all / Safari all */
            -moz-user-select: none;
            /* Firefox all */
            -ms-user-select: none;
            /* IE 10+ */
            user-select: none;
            /* Likely future */
        }

        .fullscreen {
            position: absolute;
            top: 6px;
            right: 40px;
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, .2);
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s all;
            cursor: pointer;

            svg {
                opacity: .8;
            }

            &:hover {
                background-color: rgba(0, 0, 0, .4);
            }
        }

        .star {
            position: absolute;
            top: 6px;
            right: 6px;
            width: 30px;
            height: 30px;
            background-color: rgba(0, 0, 0, .2);
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s all;
            cursor: pointer;

            svg {
                margin: 1px 0 0 2px;
            }

            &:hover {
                background-color: rgba(0, 0, 0, .4);
            }
        }

        .button {
            padding: 4px 12px;
            position: absolute;
            bottom: 1em;

            display: flex;
            align-items: center;

            font-family: Arial;
            font-size: 0.9em;
            letter-spacing: normal;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            background-color: #1e88e5;
            border-radius: 6px;

            opacity: 0;
            transition: .3s all;
            cursor: pointer;
        }

        &:hover {
            .button {
                animation: pulse 2s infinite; // animation of button boxshadow folks
                opacity: 1;

                &:hover {
                    background-color: #3f51b5;
                }
            }
        }

        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.8em;
            letter-spacing: 3px;
            font-family: 'Rock Salt';
            text-align: center; // also for long word
        }

        &:hover {
            transform: scale(1.05);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, .2), 0px 0px 18px rgba(0, 0, 0, .1);
            border: 2px solid #3085d6;
        }

        &:focus,
        &:active {
            transform: scale(1.03);
            box-shadow: 0px 0px 3px rgba(0, 0, 0, .2), 0px 0px 18px rgba(0, 0, 0, .1);
            border: 2px solid #3085d6;
        }
    }
}

@media screen and (max-width: 800px) {
    main.words {
        .word p {
            font-size: 1.6em;
        }
    }
}

@media screen and (max-width: 650px) {
    main.words {
        .word {
            height: 150px;
            margin-bottom: 1em;

            p {
                font-size: 1.1em;
            }

            .main-word {
                margin-bottom: 40px;
            }

            .button {
                margin-top: 1em;
            }
        }
    }
}

@media screen and (max-width: 560px) {
    main.words {
        .word {
            width: 100%;

            p {
                font-size: 1.6em;
            }
        }

        .quotes {
            width: 100%;
            height: auto;
        }
    }
}

@media screen and (max-width: 400px) {
    main.words {

        .word p {
            font-size: 1.3em;
        }
    }
}

@media screen and (max-width: 764px) {
    .swal2-popup.swal2-modal {
        padding: 1em 0;
    }
}

// animazione all'hover dei bottoni "pratica con questa parola" in homepage
@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(30, 136, 229, 0.6);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(30, 136, 229, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(30, 136, 229, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(30, 136, 229, 0.6);
        box-shadow: 0 0 0 0 rgba(30, 136, 229, 0.6);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(30, 136, 229, 0);
        box-shadow: 0 0 0 10px rgba(30, 136, 229, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(30, 136, 229, 0);
        box-shadow: 0 0 0 0 rgba(30, 136, 229, 0);
    }
}

.pratica-title {
    margin-top: 0;
}

.pratica-smalltext {
    margin-top: 0;
}


/* QUOTES STUFF */
blockquote, q{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    quotes:none;
    font-style: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

.quotesItem {
    background-color: #f3f3f3;
    box-shadow: 0 1px 2px 0 hsl(219deg 9% 69% / 50%);
    transition: all .2s;
    border-radius: 0.7em;
    margin-bottom: 0.7em;
    position: relative;
    overflow: hidden;
    padding: 1em;

    .quo {
        opacity: .6;
    }

    &.font-xl {
        font-size: 1.3em;
    }

    p {
        padding: 0; margin: 0;
    }

    &::first-letter {
        font-size: 1.15em;
    }

    &:hover {
        transform: scale(1.04);
    }

    &:target { // when the quote is focused
        background-color: #b0bec5e3;
        border: 2px solid #607d8b;
        animation: quoteIn .2s ease-in .1s 1;
    }
}

@keyframes quoteIn {
    0% {
        transform: translateY(-.4em) scale(1.08);
    }

    100% {
        transform: translateY(0em) scale(1.04);
    }
}

.quotesItem_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0.3em;
    top: 0.3em;

    .share  {
      display: flex;
      align-items: center;

      display: flex;
      align-items: center;
      background-color: #dadada;
      border-radius: 50%;
      padding: 0.25em 0.3em 0.25em 0.25em;
      justify-content: center;
      margin-left: 0.3em;
      transition: .2s all;

      &:hover {
       background-color: #ccc;
       cursor: pointer;
       transform: scale(1.3);
      }
    }
  }